{% extends 'base.html.twig' %}

{% block title %}
    Les recettes de Sandrine Coupart, diététicienne et nutritionniste - Mentions légales
{% endblock %}

{% block body %}

  <article class='legal_article'>
    <h2 class='article_title'>Mentions légales</h2>
    <div class='legal_div'>

        <section class='legal_section'>
        <h3>Site fictif</h3>
        <div class='legal_logo'>
          <h4>But du site</h4>
          <p>Ce site est à visée pédagogique uniquement. 
          Il s'agit d'un TP de réalisation de site internet.</p>
        </div>
      </section>

      <section class='legal_section'>
        <h3>Logos</h3>
        <div class='legal_logo'>
          <h4>Logo du site</h4>
          <p>Art-x A.I artxai de Pixabay</p>
        </div>
        <div class='legal_logo'>
          <h4>Logos du tableau de commande</h3>
          <p>https://fontawesome.com</p>
        </div>
      </section>

      <section class='legal_section'>
        <h3>Photos et illustrations</h3>
        <div class='legal_picture'>
          <h4>Photo de Sandrine Coupart</h4>
          <p>Image par Диана Кубенева de Pixabay</p>
        </div>
        <div class='legal_picture'>
          <h4>Mes services</h4>
          <p>Image par Bernadette Wurzinger de Pixabay</p>
        </div>
      </section>

      <section class='legal_section'>
        <h3>Recettes</h3>
        <div class='legal_recette'>
          <h4>Pâtes à la bolognaise</h4>
          <p>Recette : https://odelices.ouest-france.fr</p>
          <p>Image : -Rita-👩‍🍳 und 📷 mit ❤ de Pixabay</p>
        </div>

        <div class='legal_recette'>
          <h4>Salade de chou blanc à la japonaise</h4>
          <p>Recette : https://www.cuisine-libre.org/salade-de-chou-blanc-a-la-japonaise</p>
          <p>Image : </p>
        </div>

        <div class='legal_recette'>
          <h4>Salade de roquette au vinaigre balsamique</h4>
          <p>Recette : https://www.cuisine-libre.org/salade-de-roquette</p>
          <p>Image : </p>
        </div>

        <div class='legal_recette'>
          <h4>Salade de champignons de Paris au parmesan</h4>
          <p>Recette : https://www.cuisine-libre.org/salade-de-champignons-de-paris-au-parmesan</p>
          <p>Image : </p>
        </div>

        <div class='legal_recette'>
          <h4>Salade argentine de cœurs de palmier</h4>
          <p>Recette : https://www.cuisine-libre.org/salade-argentine-de-coeurs-de-palmier</p>
          <p>Image : </p>
        </div>

        <div class='legal_recette'>
          <h4>Mamaliga (polenta roumaine)</h4>
          <p>Recette : https://www.cuisine-libre.org/mamaliga-polenta-roumaine</p>
          <p>Image : </p>
        </div>

        <div class='legal_recette'>
          <h4>Soupe japonaise « Gen Maï »</h4>
          <p>Recette : https://www.cuisine-libre.org/soupe-japonaise-gen-mai</p>
          <p>Image : </p>
        </div>

        <div class='legal_recette'>
          <h4>Pasta alla carbonara</h4>
          <p>Recette : https://www.cuisine-libre.org/pasta-alla-carbonara</p>
          <p>Image : </p>
        </div>

        <div class='legal_recette'>
          <h4>Pilaf express au chorizo</h4>
          <p>Recette : https://www.cuisine-libre.org/pilaf-express-au-chorizo</p>
          <p>Image : </p>
        </div>

        <div class='legal_recette'>
          <h4>Gâteau à la banane et pépites de chocolat (sans lactose)</h4>
          <p>Recette : https://www.cuisine-libre.org/gateau-a-la-banane-et-pepites-de-chocolat-sans-lactose</p>
          <p>Image : </p>
        </div>

        <div class='legal_recette'>
          <h4>Tarte aux pommes, pâte levée</h4>
          <p>Recette : https://www.cuisine-libre.org/tarte-aux-pommes-pate-levee</p>
          <p>Image : </p>
        </div>

        <div class='legal_recette'>
          <h4>Gâteau de Carême (pitta nistissimi)</h4>
          <p>Recette : https://www.cuisine-libre.org/gateau-de-careme-pitta-nistissimi</p>
          <p>Image : </p>
        </div>

        <div class='legal_recette'>
          <h4>Broyé du Poitou</h4>
          <p>Recette : https://www.cuisine-libre.org/broye-du-poitou</p>
          <p>Image : </p>
        </div>

        <div class='legal_recette'>
          <h4>Biscuit au miel d’Ostara</h4>
          <p>Recette : https://www.cuisine-libre.org/biscuit-au-miel-d-ostara</p>
          <p>Image : </p>
        </div>
      </section>
    </div>
    

  </article>
  
{% endblock %}